<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'emailconfig.css' %}">
    <title>Confirm Your Email</title>
</head>
<body>
    <div class="container">
        <div class="header"><h2>Enter The Code</h2></div>
        <div class="input-box">
            <form action="verifyEmail" method="post">
                {% csrf_token %}
                 <input type="number" name="user_code" id="code">
                 <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>