{% extends "user/user-base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './bookingStatic/form.css' %}">
<link rel="stylesheet" href="{% static './bookingStatic/background.css' %}">
{% endblock %}

{% block title %}
Booking System
{% endblock %}

{% block root %}
<section id="background">
    <div class="glass-piece -g1"></div>
    <div class="glass-piece -g2"></div>
    <div class="glass-piece -g3"></div>
    <div class="particle-box-1">
        <div class="glass-particle -glow-1"></div>
        <div class="glass-particle -glow-2"></div>
        <div class="glass-particle -glow-3"></div>
        <div class="glass-particle -glow-4"></div>
        <div class="glass-particle -glow-5"></div>
    </div>
    <div class="particle-box-2">
        <div class="glass-particle -glow-1"></div>
        <div class="glass-particle -glow-2"></div>
        <div class="glass-particle -glow-3"></div>
        <div class="glass-particle -glow-4"></div>
        <div class="glass-particle -glow-5"></div>
    </div>


</section>

<section id="passanger-form" class="form-background-box">

    <div class="" id="passanger-form-box">
        <div class="heading-box">
            <div class="text-box">
                <h2>Fill The Form</h2>
            </div>
        </div>

        <div id="form">
            <form action="/booking/payment-pre-process" method='post' id="form-csrf">
                {% csrf_token %}
                <input type="hidden" name="train_id" value="{{train_info.train_id}}" class="hidden">
                <input type="hidden" name="seat_limit" class="hidden" value="{{train_info.seat_limit}}" id="seat-limit">
                <input type="hidden" name="seat_price" id="seat-price" class="hidden" value="{{train_info.seat_price}}" id="seat-price">
                <div id="train-detail" class="">
                    <div class="input-grp">
                        <label for="">Train no</label>
                        <input name="train_no" type="hidden" value="{{train_info.train_no}}">
                        <input name="train_no" disabled  type="text" value="{{train_info.train_no}}">
                    </div>
                    <div class="input-grp">
                        <label for="">Boarding</label>
                        <input name="boarding" type="hidden" value="{{train_info.boarding}}">
                        <input name="boarding" disabled type="text" value="{{train_info.boarding}}">
                    </div>
                    <div class="input-grp">
                        <label for="">Destinations</label>
                        <input name="destination" type="hidden" value="{{train_info.destination}}">
                        <input name="destination" disabled type="text" value="{{train_info.destination}}">
                    </div>
                    <div class="input-grp">
                        <label for="">Date</label>
                        <input name="date" type="hidden"  id="travel-date" value="{{train_info.date}}">
                        <input name="date" type="date" disabled  id="travel-date" value="{{train_info.date}}">
                    </div>
                    <div class="submit-box">
                        <div class="glow-btn"><a href="javascript:void(0)" class="back" data-pos="1">back</a>
                        </div>
                        <div class="glow-btn"><a href="javascript:void(0)" data-pos="1" class="next"
                                onclick="allNextBtnFun(this)">Next</a></div>
                    </div>
                </div>

                <div id="personal-detail">
                    <div class="input-grp">
                        <label for="">Name</label>
                        <input required name="full_name" type="text" placeholder="Full Name">
                    </div>
                    <div class="input-grp">
                        <label for="">Age</label>
                        <input type="number" name="age" placeholder="Enter Your Age">
                    </div>
                    <div class="input-grp">
                        <label for="">Phone No</label>
                        <input required name="phone_no" type="number">
                    </div>
                    <div class="input-grp">
                        <label for="">Email Address</label>
                        <input required name="email" type="email">
                    </div>
                    <div class="submit-box">
                        <div class="glow-btn"><a href="javascript:void(0)" class="back" data-pos="2"
                                onclick="allBackBtnFun(this)" disabled>back</a></div>
                        <div class="glow-btn"><a href="javascript:void(0)" data-pos="2" class="next"
                                onclick="allNextBtnFun(this)">Next</a></div>
                    </div>
                </div>



                <div id="train-detail-2">
                
                    <div class="input-grp">
                        <label for="">Seat Type</label>
                        <input type="hidden" name="seat_type" value="{{train_info.seat_type}}">
                        <input type="text" name="seat_type" disabled value="{{train_info.seat_type}}">
                    </div>
                    <div class="input-grp">
                        <label for="">No of Ticket</label>
                        <input name="ticket_no" required id="ticket_no" type="number">
                    </div>
                    <div class="input-grp">
                        <label for="">Price</label>
                        <input name="price" type="number" id="price" value="{{train_info.seat_price}}">
                    </div>
                    <div class="submit-box">
                        <div class="glow-btn"><a href="javascript:void(0)" class="back" data-pos="3" onclick="allBackBtnFun(this)"
                            >back</a></div>
                        <div class="glow-btn"><a href="javascript:void(0)" data-pos="3" class="next"
                                onclick="sumbitTheForm()">Submit</a></div>
                    </div>
                </div>
            </form>
        </div>










    </div>
</section>

<script src="{% static './bookingStatic/form.js' %}"></script>
<script src="{% static './bookingStatic/response.js' %}"></script>
{% endblock %}