.form-box {
    padding-top: 40px;
    width: 550px;
    max-height: 300px;
}

.login-form {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background-color: #00B0FF;
    color: white;
    position: relative;
    margin: 0 auto;
    top: -25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-form a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins',
        sans-serif;
}