*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container,.input-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:0px;
}
.header{
    padding:10px;
    color:rgb(6, 136, 49);
}

.input-box form input{
 margin:20px;
 padding: 10px;
 height:40px;
 width:150px;
 border:1px solid #000;
 outline: 0;
}
.input-box form button{
    padding:10px 15px;

}