{% extends "user/user-base.html" %}
{%load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
{% endblock %}

{% block title %}
Railline
{% endblock %}

{% block root %}
    {% comment %} <!-- crousel starts here --------------------------> {% endcomment %}
    <div class="header-img-box">
        <div class="img-box">
            <div class="header-text">
                <h1>Train Search</h1>
                <p>Made Easy</p>
                <div class="action-btn">
                    <a href="#"><span></span> How We Made It</a>
                </div>
            </div>
        </div>
    </div>


    {% comment %} <!-------Form PART -------------------> {% endcomment %}

    <section class="query-section">

        <div class="query-box">
            <div class="mx-auto query-heading">
                <p>Train Search</p>
            </div>





{% comment %} <!--------------------------------- options ----------------------------------------> {% endcomment %}

            <div class="query-options">


                <div class="form-check">
                    <input class="form-check-input" type="radio" onclick="radiochecked(this)" name="flexRadioDefault"
                        id="pnr_search"
                        value="form-pnr-search" >
                    <label class="form-check-label" for="flexRadioDefault1">
                        PNR Search
                    </label>
                </div>


                <div class="form-check">
                    <input class="form-check-input" type="radio" onclick="radiochecked(this)" name="flexRadioDefault"
                        value="form-train-search" id="train_search" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Train Search
                    </label>
                </div>


                <div class="form-check">
                    <input class="form-check-input" value="form-train-status" onclick="radiochecked(this)" type="radio"
                        name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Train Status
                    </label>
                </div>


            </div>




            {% comment %} <!-- form train search form ----------------------- --> {% endcomment %}
            <div id="train-search-box" class="form train-search-box container">




                <form id="form-train-search" class="" action="/train/search" method="post">
                    <div class="input-grp">
                        <div class="input-box left-b"
                            style="width:250px;border-top-left-radius:15px; border-bottom-left-radius:15px;">
                            <span>FROM</span>
                            <input type="text" id='origin-input'>
                        </div>
                        <div class="input-box left-b"
                            style="width:250px; border-top-right-radius:15px; border-bottom-right-radius:15px;  border-left:0;">
                            <span>TO</span>
                            <input type="text" id="destination-input">
                        </div>
                    </div>
                    <div class="input-grp">
                        <div class="input-box left-b"
                            style="border-top-left-radius:15px; border-bottom-left-radius:15px;">
                            <span>DATE</span>
                            <input type="date">
                        </div>
                        <div class="input-box left-b"
                            style="border-top-right-radius:15px; border-bottom-right-radius:15px; border-left:0;">
                            <span>CLASS</span>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected>Class A</option>
                                <option value="1">Class B</option>
                                <option value="2">Class Sleeper</option>
                                <option value="3">Class General</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="button-55 rounded-pill" id="train-search-btn"> Search </button>
                </form>




                <form action="/train/pnr/" method='post' class="hidden" id="form-pnr-search">
                    {% csrf_token %}
                    <div class="input-box left-b">
                        <span>PNR</span>
                        <input style="font-size: 40px;" name='pnr-box' type="text">
                    </div>
                    <button type="submit" class="button-55 rounded-pill" id="train-search-btn"> Search </button>
                </form>






                <form action="/train/status" class="hidden" id="form-train-status" method="post">


                    <div class="input-grp">
                        <div class="input-box left-b"
                            style="width:250px;border-top-left-radius:15px; border-bottom-left-radius:15px;">
                            <span>TRAIN NO/NAME</span>
                            <input type="text">
                        </div>
                        <div class="input-box left-b"
                            style="width:250px; ">
                            <span>YOUR STOP</span>
                            <input type="text">
                        </div>
                        <div class="input-box left-b"
                        style="border-top-right-radius:15px; border-bottom-right-radius:15px; border-left:0;">
                        <span>DATE</span>
                        <input type="date">
                    </div>
                    </div>

                    <button type="submit" class="button-55 rounded-pill" id="train-search-btn"> Search </button>
                </form>
</div>

        </div>
    </section>


{% comment %} <!-- featues -------------------------------------------------- --> {% endcomment %}

<section id="features ">
    <div class="heading-text">
        <span>FEATURES</span><br>
        <h2>WHY CHOOSE US</h2>
    </div>


    <div class="features-content">
        <div class="column text">
            <div class="feature">
                <div class="subheading">
                    Experinced Staff
                </div>
                <div class="para">
                    <span><i class="bi bi-shield-shaded"></i></span>
                    <p>Years of Experience</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <script>
        function radiochecked(myradio){
            let name = myradio.value;
            document.querySelector("#form-train-search").classList.add('hidden');
            document.querySelector("#form-pnr-search").classList.add('hidden');
            document.querySelector("#form-train-status").classList.add('hidden');
            document.querySelector(`#${name}`).classList.remove('hidden');
        }
    </script>
    <script>
        const origin = document.getElementById("search-box")
        const  = document.getElementById("box");

    const stationSearch = async text =>{
        if(text.length<=3){
            box.innerHTML = ''
            return []
        }
    const stationName = await fetch(`https://indianrailways.p.rapidapi.com/findstations.php?station=${text}`, {
	"method": "GET",
	"headers": {
		"x-rapidapi-host": "indianrailways.p.rapidapi.com",
		"x-rapidapi-key": "cf23647522mshd5acd9e46e038c6p10558bjsn5820f55667fb"
	}
})
    const state = await stationName.json();
    console.log(state)
    const html = state.stations.map(
        match =>
            `<li>${match.stationName}  /// ${match.stationCode}</li>`
    ).join('')
    box.innerHTML = html
}

search.addEventListener("input",() => stationSearch(search.value));

    </script>
{% endblock %}