{% extends "user/user-base.html" %}
{%load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/login.css' %}">

{% endblock %}

{% block title %}
LOGIN
{% endblock %}

{% block root %}
    <section class="form-section">

        <div class="form-box">
            <div class="form-options">
                <div class="login-form active-form-options">
                    <a href="/user/login">Login</a>
                </div>
                <div class="register-form">
                    <a href="/user/register">Registration</a>
                </div>
            </div>
            <div class="form" id="login">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" name="user_name" id="user-input" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <input type="password" name="password" id="user-input" placeholder="Password" required>
                    </div>
                    <button class="button-55 rounded-pill" type="submit">LOGIN</button>
                    
                </form>
            </div>
        </div>

    </section>
</section>














<!-- at the end of the body -->

<script type="text/javascript" src="{% static 'user/vanilla-tilt.min.js' %}"></script>
<script type="text/javascript">
    VanillaTilt.init(document.querySelector(".form-box"), {
        max: 5,
        speed: 200,
         glare:true,
        "max-glare":0.8,
    });

</script>



{% endblock %}
