{% extends "user/user-base.html" %}
{%load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/login.css' %}">
    <link rel="stylesheet" href="{% static 'user/register.css' %}">
{% endblock %}

{% block title %}
REGISTER
{% endblock %}


{% block root %}
        <section class="form-section">

            <div class="form-box">
                <div class="form-options">
                    <div class="login-form ">
                        <a href="/user/login">Login</a>
                    </div>
                    <div class="register-form active-form-options">
                        <a href="/user/register">Registration</a>
                    </div>
                </div>
                <div class="form" id="register" >
                    <form action="register" id="" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="field">
                            <div class="tmp px-4 pb-3">
                                <input type="text" class="border border-dark col-sm-4 col-form-label col-form-label-sm"
                                    placeholder="Username" name="user_name" aria-label="Username">
                            </div>

                        </div>
                        <div class="field">
                            <div class="row px-4 pb-3">
                                <div class="col">
                                    <input type="text"
                                        class="border border-dark col-sm-12 col-form-label col-form-label-sm"
                                        placeholder="First name" name="first_name" aria-label="First name">
                                </div>
                                <div class="col">
                                    <input type="text"
                                        class="border border-dark col-sm-12 col-form-label col-form-label-sm"
                                        placeholder="Last Name" name="last_name" aria-label="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="row px-4 pb-3">
                                <div class="col">
                                    <input type="email"
                                        class="border border-dark col-sm-12 col-form-label col-form-label-sm"
                                        placeholder="Email" name="email" aria-label="Email">
                                </div>
                                <div class="col formDjango">
    <input class="border border-dark col-sm-12 col-form-label col-form-label-sm" type="file" id="img" name="profileImages" accept="image/*">
                                
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <div class="row px-4 pb-3">
                                <div class="col">
                                    <input type="password"
                                        class="border border-dark col-sm-12 col-form-label col-form-label-sm"
                                        placeholder="Password" name="passwd" aria-label="Email">
                                </div>
                                <div class="col">
                                    <input type="password"
                                        class="border border-dark col-sm-12 col-form-label col-form-label-sm"
                                        placeholder="Confirm Password" name="confirm_passwd" aria-label="Phone No">
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <div class="row px-4 pb-3">
                                <div class="col">
                                    <select class="form-select form-select-sm" aria-label="gender" name="gender"
                                        required>
                                        <option value="None" selected>Gender</option>
                                        <option value="m">Male</option>
                                        <option value="f">Female</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input fs-6" type="checkbox" value="True"
                                            id="flexCheckChecked" name="age" required>
                                        <label class="fs-6" for="flexCheckChecked">
                                            I'm Above 18
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="temp-box row">
                        <button class="button-55 col-3 rounded-pill" type="submit">REGISTER</button>
                        </div>
                       
                    </form>
                </div>
            </div>
            </div>

        </section>
    </section>








{% block message-box%}
{% if messages %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    {% for message in messages %}
    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br/>
    {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}



    <script type="text/javascript" src="{% static 'user/vanilla-tilt.min.js' %}"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelector(".form-box"), {
            max: 5,
            speed: 200,
            glare: true,
            "max-glare": 0.8,
        });
    </script>
{% endblock %}