{% extends "user/user-base.html" %}
{%load static %}
{% block css %}
        <link rel="stylesheet" href="{% static 'user/style.css' %}">
        <link rel="stylesheet" href="{% static 'user/login.css' %}">
        <link rel="stylesheet" href="{% static 'user/register.css' %}">
        <link rel="stylesheet" href="{% static 'user/verification.css' %}">
{% endblock %}

{% block title %}
VERIFY
{% endblock %}


{% block root %}
        <section class="form-section">

            <div class="form-box">

                <div class="login-form active-form-options">
                    <a href="#">Verify Email</a>
                </div>
                
                <div class="form" id="login">
                    <form action="verification" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <input type="text" name="user_name" id="user-input" placeholder="Username" required>
                        </div>
                        <div class="field">
                            <input type="text" name="user_otp" id="user-input" placeholder="OTP" required>
                        </div>
                        <button class=" button-55 rounded-pill" type="submit">VERIFY</button>
                    </form>
                </div>
            </div>

        </section>


        <!-- at the end of the body -->
        <script type="text/javascript" src="{% static 'user/vanilla-tilt.min.js' %}"></script>
        <script type="text/javascript">
            VanillaTilt.init(document.querySelector(".form-box"), {
                max: 5,
                speed: 200,
                glare: true,
                "max-glare": 0.8,
            });
        </script>
{% endblock %}